<div class="navbar">
    <a href="" class="brand">Code Editor</a>
    <a href="" class="link">About</a>
    <div class="right">
        <a href="/auth/login" class="link">Login</a>
        <a href="/auth/register" class="link">Register</a>
    </div>
</div>